@page
@*@model IndexModel*@
@model EmpowerIDAwaisMunir.Pages.IndexModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject EmpowerIDAwaisMunir.Domain.Interfaces.Services.IEmployeeService Service
@{
    ViewData["Title"] = "Home page";
}


@{
    if (SignInManager.IsSignedIn(User))
    {
        <div class="text-center">
            <h1 class="display-4">Welcome to Employee Management System</h1>
            <p>This is using in-memory database.</p>
                    <br/>
            <p>Rest API Swagger Signature is here.</p>
            
            <p><a href="/swagger" style="text-decoration:none;">Swagger REST API for Employee Management System</a></p>
        </div>
        <p>
            <a asp-page="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].Department)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].DateOfBirth)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].IsDeleted)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Employee[0].Updated)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    if (Model != null && Model.Employee != null)
                    {
                        foreach (var item in Model.Employee)
                        {
                            var css = item.IsDeleted!=null && (bool)(item.IsDeleted) ? "background:#ff6347;" : "";
                            
                            <tr style="@css">
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Department)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateOfBirth)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Created)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Updated)
                                </td>
                                <td>
                                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    }

                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h4>Please <a href="/Identity/Account/Register" style="text-decoration:none"><b>register</b></a> and then <a href="/identity/Account/Login" style="text-decoration:none"><b>Sign In</b></a> to use the <b>Employee Management System</b>.</h4>
        </div>
    }
}
